@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  transition: 0.3s;

}
button{
  cursor: pointer;
  transition: 0.3s;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.container{
  width: 1200px;
  max-width: 100%;
  padding: 0px 15px;
  margin:  0 auto;
}
.tobar {
  background:#010f1c;
  padding: 3px 0px;
}

.tobar .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tobar .container p{
  font-size: 12px;
  margin: 0px;
  color: #fff;
  display: flex;
    align-items: center;
}
.top-menu{
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.top-menu li a{
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  transition: 0.3s;
}
.top-menu li:last-child a{
  padding-right: 0px;
}
.searchForm{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
  border: 2px solid #fe0000;
  margin: 20px 0px;
  max-width: 100%;
  
}
.searchForm input{
  height: 40px;
  padding: 10px 15px;
  border: 0px;
  outline: none;
  width: calc(100% - 15%);
  font-size: 13px;
  background: #fff;
}

.searchForm button{
  width: 15%;
  background: #fe0000;
  border: 0px;
  outline: none;
  color: #fff;
  height: 40px;
  transition: 0.3s;
  cursor: pointer;
}
.searchForm button:hover{
  background: #000;
}
.header-mdl .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
}
.menusec{
  border-top: 1px solid #ccc;
}
.menusecleft{
  display: flex;
  align-items: center;
}
.menu ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.menu li a{
  color: #000;
  display: inline-block;
  font-size: 14px;
  padding: 10px 25px;
  transition: 0.3s;
  text-decoration: none;
  position: relative;
}
.menu li a:hover{
  color: #fe0000;
}
.menu li a span{
  position: absolute;
  display: inline-block;
  color: #fff;
  background: #fe8300;
  font-size: 11px;
  padding: 0px 3px;
  top: 3px;
}
.categoryBox{
  position: relative;
  width: 300px;
}
.categoryBox label{
  display: block;
  margin: 0px;
  color: #fff;
  background: #fe0000;
  padding: 16px 15px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.categoryBox label:hover{
  background: #000;
}
#category{
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  background: #fff;
  width: 100%;
  display: none;
  max-height: 250px;
  overflow: auto;
  box-shadow: 0 4px 10px #010f1c24;
}
#category.open{
  display: block;
}
#category li{
  padding: 0px 20px;
  border-bottom: 1px solid #ccc;
}
#category li a{
  display: flex;
  padding: 10px 0px;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
#category li a img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 20px;
}
.banner{
  height: 400px;
  background: #000;
  width: 1200px;
  max-width: 100%;
  border-radius: 40px;
  overflow: hidden;
  margin:  0 auto;
  margin-top: 50px;
}
.menusec .container{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactinfo label{
  display: block;
  font-size: 13px;
  color: #55585b;
    font-weight: 700;
}
.contactinfo a{
  text-decoration: none;
  color: #000;
}
.contactinfo{
  display: flex;
  align-items: center;
}
.menu{
  margin-left: 50px;
}
.logo img{
  width: 151px;
}
.login-cred{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.login-cred .user-icon{
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.login-cred .user-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-details label{
  font-size: 13px;
  font-weight: 700;
  display: block;
  color: #55585b;
}
.user-details p{
  margin: 0px;
  font-size: 14px;
  color: #000;
}
.cart {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.cart a{
  display: inline-block;
  position: relative;
  margin-right: 30px;
  color: #55585b;
}
.cart a:last-child{
  margin-right: 0px;
}
.userinfo{
  display: flex;
  align-items: center;
}
.cart a span{
  position: absolute;
  background: #fe0000;
  color: #fff;
  z-index: 1;
  font-size: 10px;
  display: inline-block;
  padding: 1px 5px;
  border-radius: 20px;
  top: -7px;
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-group{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
  width: 100%;
  padding: 80px 0px;
}
.product-group .product-colum{
  position: relative;
  width: 33.33%;
  padding: 0px 15px;
}
.product-item{
  border-radius: 8px;
  border: 1px solid #eaebed;
  transition: 0.3s;
  position: relative;
  margin-bottom: 25px;
  background: #fff;
}
.product-item:hover{
  box-shadow: 0 4px 10px #010f1c24;
}
.productDetails{
  border-top: 1px solid #eaebed;
  padding: 20px;
}
.productDetails label{
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.productDetails h2{
  margin: 0px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.productDetails h2 a{
  color: #000;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productDetails p{
  margin: 0px;
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
}
.productDetails span{
  font-size: 12px;
  color: #fe0000;
  text-decoration: line-through;
}
.productDetails span b{
  display: inline-block;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  margin-left: 8px;
}
.productImage{
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.productImage img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.productImage .cart-box{
 position: absolute;
 top: 50%;
 transform: translateX(-50%);
 list-style: none;
 margin: 0px;
 padding: 0px;
 right: -30px;
 transition: 0.3s;
 opacity: 0;
}
.productImage:hover .cart-box{
  opacity: 1;
  right: 0px;
}
.productImage .cart-box a{
    display: inline-flex;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    transition: 0.3s;
    position: relative;
}
.productImage .cart-box a span{
  background: #000;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 1px 8px;
  position: absolute;
  white-space: nowrap;
  right: 30px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.productImage .cart-box a:hover span{
  right: 40px;
  opacity: 1;
  visibility: visible;
}
.productImage .cart-box a span::before{
  content: "";
  width: 7px;
  height: 7px;
  background: #000000;
  position: absolute;
  right: -2px;
  transform: rotate(45deg);
  top: 6px;
  transition: 0.3s;
}
.productImage .cart-box a:hover{
  border: 1px solid #fe0000;
  background: #fe0000;
  color: #fff;
}
.product-colum a{
  display: block;
  width: 100%;
}
.ShortSerach{
  position: relative;
  padding: 80px 0px;
}
.ShortSerach ul{
  margin: 0px;
  list-style: none;
  padding: 0px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.ShortSerach ul li{
  width: 25%;
  text-align: center;
}
.ShortSerachImage{
  width: 180px;
  height: 180px;
  padding: 15px;
  background-color: #fff;
  background-image: radial-gradient(95.56% 95.56% at 50% 50%,#FFFFFF 0%,rgb(254 0 0 / 39%) 100%);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.ShortSerachImage img{
  width: 100%;
}
.ShortSerach ul li h3{
  margin-bottom: 0px;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin-bottom: 8px;
}
.ShortSerach ul li h3 a{
  color: #000;
  display: inline-block;
  transition: 0.3s;
}
.ShortSerach ul li h3 a:hover{
  color: #fe0000;
}
.ShortSerach ul li p{
  font-size: 16px;
  color: #333;
  margin: 0px;
}
.featureBox ul{
  margin: 0px;
  list-style: none;
  padding: 0px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.featureBox ul li{
  width: 25%;
}
.featureBox .featureBoxItem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.featureBoxItemDetails h4{
    font-size: 14px;
    margin: 0px;
    margin-bottom: 4px;
    color: #000;
    font-weight: 700;
}
.featureBoxItemDetails p{
  font-size: 13px;
  margin: 0px;
  color: #888;

}
.featureBoxItem img{
  width: 40px;
}
.featureBoxItemDetails{
  width: calc(100% - 64px);
  padding-left: 15px;
}
.featureBox{
  padding: 80px 0px;
}
.heading h2{
  margin: 0px;
  font-size: 40px;
  color: #000;
  font-weight: 700;
  margin-bottom: 40px;
}
.heading{
  position: relative;
}
.heading svg{
      position: absolute;
    left: 0;
    bottom: -12px;
    z-index: -1;
}
.cart img{
  width: 17px;
  opacity: 0.8;
}
.contactinfo img{
  width: 24px;
  margin-right: 15px;
}
.sale-box{
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding: 80px 30px;
}
.sale-box img{
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.6s;
}
.sale-box:hover img{
  transform: scale(1.1);
}
.row{
  margin: 0px -15px;
  display: flex;
  flex-wrap: wrap;
}
.col-7{
  width: 60%;
  padding: 0px 15px;
}
.col-5{
  width: 40%;
  padding: 0px 15px;
}
.sale-txt{
  position: relative;
}
.sale-txt span{
  font-size: 16px;
  color: #333;
  display: block;
  margin: 0px;
}
.sale-txt h3{
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}
.shop-now{
   display: inline-block;
    font-size: 14px;
    color: #333;
}
.shop-now svg{
  transition: 0.3s;
  margin-left: 8px;
}
.shop-now:hover svg{
  margin-left: 15px;
}
.shop-now:hover{
  color: #fe0000;
}
.sale-Sec{
  padding: 80px 0px;
  position: relative;
  overflow: hidden;
}
.deal-Slider{
  background: rgb(254 0 0 / 5%);
  position: relative;
  padding: 80px 0px;
  overflow: hidden;
  padding-bottom: 10px;
}
.deal-Slider .swiper-button-prev,
.deal-Slider .swiper-button-next
{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fe0000;
  border-radius: 100%;
  display: inline-block;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.deal-Slider .swiper-button-prev{
  right: 60px;
}
.deal-Slider .product-item{
  margin-bottom: 0px;
}
.trimer{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.trimer .time{
  height: 55px;
  width: 55px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  padding: 11px 0px;
    color: #333;
    margin-right: 8px;
  text-transform: uppercase;
}
.trimer .time label{
  font-size: 11px;

}
.time h4{
  margin: 0px;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.deal-Slider .swiper{
  padding-top: 70px;
  top: -70px;
}
header{
  border-bottom: 1px solid #ccc;
}
.detailsSec{
  padding: 80px 0px;
  position: relative;
  overflow: hidden;
}
.productSlider{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thambnalSlider{
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 350px;
}
.fullSlider{
  width: calc(100% - 120px);
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 30px;
  height: 350px;
}
.fullSlider img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.btn-group{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.btn-group button{
  font-size: 14px;
  border: 0px;
  color: #fff;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  width: 160px;
}
.btn-group button.addCard{
  background: #fe0000;
  margin-right: 10px;
}
.btn-group button.buynow{
  background: #fea500;
}
.productsDetails h1{
  margin: 0px;
    color: #333333;
    font-size: 25px;
    margin-bottom: 10px;
}
.productsDetails p{
  font-size: 16px;
    color: #888;
    margin: 0px;
    margin-bottom: 10px;
}
.productsDetails h3{
  margin: 0px;
  font-size: 20px;
  color: #000;
  margin-bottom:25px;
}
.productsDetails h3 span{
  font-size: 14px;
  text-decoration: line-through;
  color: #fe0000;
  display: inline-block;
  margin: 0px 5px;
}
.productsDetails h3 small{
  display: inline-block;
  font-size: 14px;
    color: #4ccb0d;
}
.productsDetails h4{
  margin: 0px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.productsDetails p.lowestPrice{
  margin: 0px;
  font-size: 14px;
}
.productsDetails p.lowestPrice span{
  background: #2c090c;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;
    margin-right: 10px;
}
.productsDetails p.lowestPrice span svg{
  margin-right: 5px;
}
.checskItem{
  display: flex;
  flex-wrap: wraps;
}
.checskItem span{
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #333;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.checskItem span:hover{
  background: #fe0000;
  color: #fff;
  border: 2px solid #fe0000;
}
.productsDetails h5{
  font-size: 16px;
  color: #333;
  margin: 0px;
  margin-bottom: 10px;
}
.productsDetails input{
  height: 45px;
  border: 1px solid #ccc;
  width: 300px;
  outline: none;
  font-size: 14px;
  color: #000;
  padding: 10px 15px;
}
.checkBtn{
  font-size: 14px;
  border: 0px;
  color: #fff;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
height: 45px;
border: 1px solid #fe0000;
background: #fe0000;
margin-left: 20px;
}
.checkBtn:hover{
  color: #fe0000;
  background: #fff;
}
.checskItem small{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 100%;
  background: #fe0000;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.checskItem small:nth-child(2){
  background: #333;
}
.checskItem small:nth-child(3){
  background: #eea405;
}
.detailsSec .container{
  margin-bottom: 100px;
}
.productsDetails h5 small{
  display: block;
  color: #888;
  font-weight: normal;
}
.productsDetails h5 a{
  color: #fe0000;
  display: inline-block;
  margin-left: 10px;
}
.authForm{
  width: 100%;
  position: relative;
  padding: 40px 0px;
  overflow: hidden;
}
.col-6{
  padding: 0px 15px;
  width: 50%;
}
.authForm form{
  width: 400px;
  padding: 30px 30px;
  border: 1px solid #ccc;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.authForm form h2{
  margin: 0px;
  font-size: 25px;
  color: #000;
  margin-bottom: 30px;
}
.authForm form .formGroup{
  margin: 0px;
  padding-bottom: 25px;
  position: relative;
  width: 100%;
}
.authForm form .formGroup input{
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  color: #000;
  font-size: 14px;
  outline: none;
}
.authForm form .formGroup select{
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  color: #000;
  font-size: 14px;
  outline: none;
}
.authForm form  button{
  height: 40px;
  width: 100%;
  color: #fff;
  background: #fe0000;
  outline: none;
  cursor: pointer;
  border: 1px solid #fe0000;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.authForm form  button:hover{
  color: #fe0000;
  background: #fff;
}
.errormsg{
  color: #fe0000 !important;
    margin-bottom: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 10px;
    border: 1px solid rgb(254 0 0 / 36%);
    width: 80%;
    bottom: 9px;
    margin: 0px !important;
    font-size: 13px !important;
    background: rgb(254 0 0 / 10%);
    border-radius: 2px;
}
.authForm img{
  width: 80%;
}
.authForm .row{
  align-items: center;
}
.footer{
  background: #000;
  padding: 80px 0px;
  padding-bottom: 15px;
}
.authForm form p span{
  color: #fe0000;
  font-size: 13px;
  
}
.user-details label span{
  cursor: pointer;
}
.user-details label span:hover{
  color: #fe0000;
}
.user-details p span{
  color: #fe0000;
  cursor: pointer;
  font-weight: 600;
}
.banner .swiper .swiper-wrapper .swiper-slide{
  height: 400px;
}
.banner .swiper .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pricelist small{
  font-weight: 600;
  color: #4ccb0d;
}
.pricelist span{
  font-weight: 600;

}
.categoryItemimage{
  width: 100px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
}
.categoryItem{
  border: 1px solid #ccc;
  width: 60%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.categoryItem label{
  text-align: center;
  display: block;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.categoryItemimage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.categorysec{
  margin-bottom: 80px;
}
.left-filtering-sec{
  width: 25%;
  padding: 0px 15px;
}
.right-product{
  margin: 0px -15px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.home .product-group{
  padding: 0px ;
  
}
.left-filtering{
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.left-filtering form{
  position: relative;
  margin-bottom: 20px;
}
.left-filtering form input{
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px 10px;
  font-size: 13px;
  color: #000;
  border: 1px solid rgb(204 204 204 / 52%);
}
.left-filtering form button{
  background:#fe0000 ;
  color: #fff;
  height: 40px;
  width: 40px;
  border: 0px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0px;
  top: 0px;
}
.left-filtering h3{
  font-size:18px ;
  color: #333;
  margin: 0px;
  margin-bottom: 15px;
}
.searchgroup{
  margin-bottom: 20px;
}
.searchgroup .category{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.searchgroup .category li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.checkItem{
  position: relative;
  display: flex;
  align-items: center;
}
.checkItem img{
  width: 40px;
}
.checkItem input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkItem label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.checkItem label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #fe0000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
}
.checkItem input:checked + label:before{
  background:#fe0000 ;
} 
.checkItem input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.noResult{
  text-align: center;
  color: #fe0000;
  font-size: 18px;
  margin: 0px;
  width: 100%;
  border-radius: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menusecleft .category{
  position: relative;
  z-index: 9;
}
#category::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}

#category::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 10px;
width: 6px;
}
.productListHomesec{
  margin: 0px -15px;
  display: flex;
  flex-wrap: wrap;
}
.productListHomesec .product-colum{
  padding: 0px 15px;
  width: 25%;
}
.right-product h2.producthdn{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 20px;
}
.right-product button{
  border: 1px solid #fe0000;
  width: 35px;
  height: 35px;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fe0000;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}
.right-product button:hover{
  color: #fff;
  background: #fe0000;
}
.right-product button:last-child{
  margin-right: 0px;
}
.footerDetsila p{
  color: #fff;
  margin: 0px;
  word-break: break-all;
  font-size: 14px;
}
.footerlogo{
  width: 200px;
  margin-bottom: 20px;
}
.col-3{
  width: 25%;
  padding: 0px 15px;
}
.paymentInfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.paymentInfo i{
  font-size: 20px;
  color: #ffffffc7;
  margin-right: 8px;
}
.paymentInfo i:last-child{
  font-size: 24px;
}
.footerDetsila h3{
  margin: 0px;
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}
.footerDetsila ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footerDetsila ul li{
  display: block;
  width: 100%;
  padding: 5px 0px;
}
.footerDetsila ul li a{
  display: inline-block;
  color: #fff;
  font-size: 14px;
}
.footerDetsila ul li a:hover{
  color: #fe0000;
}
.footerDetsila ul li a span{
  width: 30px;
  height: 30px;
  background: #fe0000;
  border-radius: 100%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.insta{background: #ff1c83 !important;}
.facebook{background: #007aff !important;}
.whatApp{
  background: #18bf05 !important;
}
.footerDetsila h4{margin: 0px;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: normal;}
  .contactDetsils p{
    display: flex;
    margin-bottom: 15px;
  }
  .contactDetsils p i{
    font-size: 16px;
    margin-right: 10px;
  }
 .contactDetsils p label {
    background: #18bf05;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;

  }
  .contactDetsils p a{
    color: #fff;
  }
  .contactDetsils p label i{
    font-size: 25px;
  }
  .col-12{
    width: 100%;
    padding: 0px 15px;
  }
   .col-12 .botomFooter{
    border-top: 1px solid rgb(204 204 204 / 34%);
    padding-top: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0px;
    justify-content: space-between;
    margin-top: 50px;
  }

  .col-12 .botomFooter p{
    font-size: 13px;
    margin: 0px;
    color: #ccc;
  }
  .col-12 .botomFooter p a{
    color: #fe0000;
  }
  .authForm form p{
    font-size: 14px;
    color: #333;
    margin: 0px;
    margin-bottom: 10px;
  }
  .authForm form button{
    margin-bottom: 15px;
  }
  .authForm form p a{
    color: #fe0000;
    text-transform: uppercase;
    font-weight: 500;
  }